

/* Style the form */
#buildForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 700px;
}

.blue-button {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Manrope', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
  margin-top: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.blue-button:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.blue-button:active {
	position:relative;
	top:1px;
}


textarea {
	min-height: 5em;
	max-height: 50vh;
  resize: none;
	width: 100%;
}

/*OUT PUT FORM STYLEING*/
.inline-label {
  display: inline-block;

}

.inline-label .input{
  display: inline;
}

.custom-select{
  margin-bottom: 25px;
}

.select-height-adjust{
  margin-top: 22px;
  height:50px;
  width:10em;
}

.trait-form-line{
  display: inline-block;
  width: 100%;
}

#outPutForm {
  align-items: center;
	background-color: #ffffff;
  font-family: 'Manrope', sans-serif;
	margin: 100px auto;
	padding: 40px;
  white-space: normal;
	width: 700px;
}

/* TOP SECTIONS */
#nameOut{
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
  font-weight: bold;
  width: 66%;
}

#crOut{
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  width: 33.4%;
}


/* TRAITS SECTIONS */
#col-traits{
  background-color: yellow;
}

#creatureRarity{
  text-align: center;
  white-space: nowrap;
  color: white;
  background-color: orange;
  border: 1px solid black;
  font-family: 'Manrope', sans-serif;
}

#creatureAlign{
  text-align: center;
  white-space: nowrap;
  color: white;
  background-color: blue;
  border: 1px solid black;
  font-family: 'Manrope', sans-serif;
}

#creatureSize{
  text-align: center;
  white-space: nowrap;
  color: white;
  background-color: green;
  border: 1px solid black;
  font-family: 'Manrope', sans-serif;
}

.redTrait{
  text-align: center;
  white-space: nowrap;
  color: white;
  background-color: red;
  border: 1px solid black;
  font-family: 'Manrope', sans-serif;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
select.invalid {
  background-color: #ffdddd;
}

.no-outline:focus {
		 outline: none;
		 }

.no-outline {
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: hidden;
background-color: #eee;
}

/* Hide all steps by default: */
.tab {
  display: none;
  border: 5px solid black;
  border-radius: 25px;
  padding: 10px
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 50px;
  width: 50px;
  line-height: 115px;
  margin-right: 20px;
  background-color: black;
  border: none;
  border-radius: 50%;
  display: inline-block;
  font-family: 'Manrope', sans-serif;
  opacity: 1;
  z-index: -1;
}

/* Mark the active step: */
.step.active {
  background-color: green;
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: green;
  opacity: 1;
}

.step-container {
}
